<div class="blue">
  <div class="row vdivide">
    <div class="col-md-6 top">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAS9AAAAJGY2MTRiYTU0LWI5YWQtNDFjYS04Yjk1LWM2NjJhNzA0NzdjNg.jpg" class="center-block img-circle profilePic">
      <h1 class="text-center txt">
        <%= current_user.name %>
      </h1>
    </div>
    <div class="col-md-6 top">
        <h1 class="text-center daysRemaining txt">
          <%= @days.daysLeft %>
        </h1>
      <h1 class="text-center txt">
        Days Given
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <h1 class="text-center txt"><%= link_to "Request Days", new_day_path %></h1>
      <br>

      <br><br><br>
    </div>
  </div>
</div>
</div>
